/* flex-container */
.settings__setting{
    padding:20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* flex-items */
.settings__setting i{
    margin-right: 20px;
    font-size:22px;
    opacity: 0.9;
}
.settings__setting-column:last-child{
    opacity: 0.5;
}