.badge{
    background-color: tomato;
    width: 25px;
    height: 25px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    left: 19px;
    bottom: 15px;
}